/* This is a CSS comment. Comments are ignored by the browser */

/* Use CSS selectors and rules to style your portfolio page */
body {
  font-family: Chewy;
  font-size: 16px;
}
#acads {
  color: red;
}
.fun {
  font-weight: bold
}
img {
  border-radius: 80px;
  height: 50%
  width: auto
}
